body{
    font-family: "Work Sans", sans-serif;
    font-family: "Noto Sans", sans-serif;
    background-color: #FFFFFF;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.header-titel{
    font-size: larger;
    font-weight: 900;
    display: flex; 
    justify-content: left;
}

.list-item {
    display: inline;
    text-decoration: none;
    color: #000000;
    padding: 12px 20px;
}



.home {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuAYKFRxdYXCyZt_R25M0l0iIeR5scEOFHZlpc8u9OgTxrFXOc3-Pao9oAmpyvRDmWm12RBnkIPmO5cO2VwlIcoxfm77ZkIxQqOTxF66kOCh4g8oq1D4Vp26xNa0Xqliv8jsOsfBUCDtH8doz2Rq-AUG4kMMh88mxlR9E6xCavVU3rcf0jU5VF3YYVThsHTLtcuLwnZXh4_QIeX-9hPy6lTJTcz0xLX3-WITTdYMESn1XfVbay2yEy4r1p-CP_5UdkMlG2cjR57_ueY);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 480px;
    width: 928px;
    padding: 40px 40px 40px 0px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.active-button{
    background-color: #b2c5e5;
    color: #121416;
    width: 140px;
    height: 40px;
    padding: 16px 20px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    text-decoration: none;
}

.btn{
    background-color: #b2c5e5;
    color: #121416;
    width: 140px;
    height: 40px;
    margin: 0px 44%;
    padding: 16px 20px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
    border: none;
}

.home h1{
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-size: 48px;
}
.home p{
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 10%;
}

.container{
    padding: 20px 240px;
}

.card {
    display: flex;
    justify-content: center;
}
.card h5{
    font-weight: 800;
    font-size: large;
}
.card img{
    display: flex;
    margin: 10px;
    border-radius: 30px;
    padding: 16px;
    aspect-ratio: 16 / 9;
    width: 45%;
    height: auto;
    overflow: hidden;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer-txt{
    margin: 40px;
    display: inline;
    text-decoration: none;
    color: #6a7281;
    padding: 40px 20px;
}
footer p{
    display: flex;
    justify-content: center;
    color: #6a7281;
}
